<div class="m-todo-app js-m-todo-app" data-t-name="TodoApp">
    <div class="m-todo-app__header">
        <div class="m-todo-app__toolbar">
            <div class="m-todo-app__toolbar-button">
                <button class="m-todo-app__button m-todo-app__button-show-create-form js-m-todo-app__button-show-create-form">Create new note</button>
            </div>
        </div>
    </div>
    <div class="m-todo-app__content js-m-todo-app__content">
        <form class="m-todo-app__item m-todo-app__item-form">
            <div class="m-todo-app__item">
                <input type="text" class="m-todo-app__item-name js-m-todo-app__item-name" value="" placeholder="Name">
            </div>

            <div class="m-todo-app__item">
                <textarea class="m-todo-app__item-description js-m-todo-app__item-description" value="" placeholder="Description"></textarea>
            </div>

            <div class="m-todo-app__item m-todo-app__item-rating-container">
                <div class="m-todo-app__importance-text">Importance:
                    <div class="m-todo-app__importance m-todo-app__importance-container js-m-todo-app__importance-container" data-importance="importance">
                        <span class="m-todo-app__importance-rating m-todo-app__importance-rating-stars js-m-todo-app__importance-rating" name="rating" data-value="5" data-index="index">
                        </span>
                        <span class="m-todo-app__importance-rating m-todo-app__importance-rating-stars js-m-todo-app__importance-rating" name="rating" data-value="4"  data-index="index">
                        </span>
                        <span class="m-todo-app__importance-rating m-todo-app__importance-rating-stars js-m-todo-app__importance-rating" name="rating" data-value="3"  data-index="index">
                        </span>
                        <span class="m-todo-app__importance-rating m-todo-app__importance-rating-stars js-m-todo-app__importance-rating" name="rating" data-value="2"  data-index="index">
                        </span>
                        <span class="m-todo-app__importance-rating m-todo-app__importance-rating-stars js-m-todo-app__importance-rating" name="rating" data-value="1"  data-index="index">
                        </span>
                    </div>
                </div>
            </div>

            <input class="m-todo-app__time js-m-todo-app__time" type="date" value="" placeholder="Date">
            <button class="m-todo-app__button m-todo-app__button-submit js-m-todo-app__button-submit">submit</button>
            <button class="m-todo-app__button m-todo-app__button-update js-m-todo-app__button-update">update</button>
            <button class="m-todo-app__button m-todo-app__button-close js-m-todo-app__button-close">Close</button>
        </form>

    </div>
    <div class="m-todo-app__notes-container js-m-todo-app__notes-container">
    </div>
    <div class="m-todo-app__overlay js-m-todo-app__overlay"></div>
</div>